extends layout

block content
  h1= title
  div
    button#on On
    button#off Off
    button#pulse Pulse

  #container
    #chart

block page_scripts
  script.
    $(function () {
      var socket = io.connect('http://192.168.1.249:3000')
      socket.on('led:change', function (data) {
        console.log(data)
      })

      socket.on('chart:data', function (data) {
        console.log(data)
      })

      $('#on').on('click', function () {
        socket.emit('led:on')
        console.log('clicked on')
      })

      $('#off').on('click', function () {
        socket.emit('led:off')
        console.log('clicked off')
      })

      $('#pulse').on('click', function () {
        socket.emit('led:pulse')
        console.log('clicked pulse')
      })
    })

  script(src='/javascripts/chart.js')

