extends layout

block content
    section#main-column.dashboard
        div#sensorValues.hide
            div.sensor-values
                div.temperature ?<span>°F</span>
                label Temperature

        div#detail-container
        div#master-container

block page_scripts
    script(src='/javascripts/tempDetailChart.js')

