body {
  background-color: #000;
  color: white;
}

#container {
  position: absolute;
  top: 100px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: calc(100% - 100px);
  margin: 0;
}

#chart {
  width: 100%;
  height: 100%;
}